// FONTS
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");

@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;700&family=Quicksand:wght@300;400;500;700&display=swap");

// COLORS
/* $backgroud: #bbb;

$dark-shadow: #666;
$light-shadow: #fff;

$red: rgb(199, 33, 24);
$blue: rgb(0, 87, 163);
$green: hsl(127, 79%, 34%);

$gray: #222;
$white: #000;

$dark-gray: #e7e7e7; */

$backgroud: #333;

$dark-shadow: #000000;
$light-shadow: #5a5a5a;

$red: #FF4136;
$red-opacity: rgba(255, 65, 54, .6);
$blue: #0074D9;
$blue-opacity: rgba(0, 116, 217, .6);
$green: #2ECC40;
$green-opacity: rgba(46, 204, 64, .6);

$gray: #ccc;
$gray-opacity: rgba(204, 204, 204, .6);
$white: #fff;
$white-opacity: rgba(255, 255, 255, .6);
$black: #000;
$black-opacity: rgba(0, 0, 0, .6);

$dark-gray: #202020;

// MIXINS
@mixin text-shadow-out {
  color: $backgroud;
  text-shadow: -2px -2px 8px $light-shadow, 2px 2px 8px $dark-shadow;
}

@mixin box-shadow-out-small {
  box-shadow: -1px -1px 5px $light-shadow, 1px 1px 5px $dark-shadow;
}

@mixin box-shadow-out-normal {
  background-color: $backgroud;
  box-shadow: -2px -2px 8px $light-shadow, 2px 2px 8px $dark-shadow;
}

@mixin box-shadow-in-small {
  background-color: $backgroud;
  box-shadow: -1px -1px 5px $dark-shadow, 1px 1px 5px $light-shadow;
}

@mixin button-info {
  color: $white;
  display: block;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  position: fixed;
  right: 3vw;
  top: 3vw;
  width: 94vw;
}

@mixin button-info-big-screen {
  @include button-info();
  right: 1vw;
  top: 1vw;
  width: 98vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $backgroud;
  box-sizing: border-box;
  font-family: "Palanquin Dark", sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

.note {
  column-gap: 10px;
  display: grid;
  flex: 1;
  grid-template-columns: repeat(12, 1fr);
  max-width: 80rem;
  &__title {
    font-size: 5rem;
    grid-column: 1 / span 12;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    @include text-shadow-out();
  }
  &__area {
    grid-column: 1 / span 12;
  }
  &__text {
    background-color: $backgroud;
    border-radius: 1rem;
    border-style: none;
    color: $gray;
    font-family: "Quicksand", sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 4rem;
    min-height: 12rem;
    padding: 1rem;
    width: 100%;
    @include box-shadow-in-small();
    &:focus {
      background-color: $dark-gray;
      color: $white;
      outline: none;
    }
  }
  &__button {
    background-color: $backgroud;
    border-radius: 2.5rem;
    border-style: none;
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 700;
    grid-column: 1 / span 12;
    height: 4rem;
    margin-bottom: 2.4rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      color: $dark-gray;
    }
    &:active {
      @include box-shadow-out-small();
    }
    @include box-shadow-out-normal();
    &--clear {
      color: $gray;
      &:hover {
        background-color: $gray;
        &::after {
          background-color: $gray-opacity;
          @include button-info();
          }
      }
      &::after {
        content: "clear textbox";
        display: none;
      }
    }
    &--save {
      color: $green;
      &:hover {
        background-color: $green;
        &::after {
          background-color: $green-opacity;
          @include button-info();
          }
      }
      &::after {
        content: "save your note";
        display: none;
      }
    }
    &--load {
      color: $blue;
      &:hover {
        background-color: $blue;
        &::after {
          background-color: $blue-opacity;
          @include button-info();
          }
      }
      &::after {
        content: "load saved note from storage";
        display: none;
      }
    }
    &--delete {
      color: $red;
      &:hover {
        background-color: $red;
        &::after {
          background-color: $red-opacity;
          @include button-info();
          }
      }
      &::after {
        content: "delete saved note from storage";
        display: none;
      }
    }
  }
  &__button-notification {
    background-color: $blue-opacity;
    border-radius: 50%;
    box-shadow: 0 0 10px $black-opacity;
    color: $white;
    display: none;
    font-size: 3.2rem;
    position: absolute;
    right: -1rem;
    top: -1rem;
    &--visible {
      display: block;
    }
  }
}



@media (min-width: 700px) {

  .flex-container {
    align-items: center;
    min-height: 100vh;
  }
  .note {
    column-gap: 30px;
    &__title {
      font-size: 6.4rem;
    }
    &__text {
        min-height: 50vh;
    }
    &__button {
      &--clear {
        grid-column: 1 / span 3;
        &:hover::after {
          @include button-info-big-screen();
        }
      }
      &--delete {
        grid-column: 4 / span 3;
        &:hover::after {
          @include button-info-big-screen();
        }
      }
      &--load {
        grid-column: 7 / span 3;
        &:hover::after {
          @include button-info-big-screen();
        }
      }
      &--save {
        grid-column: 10 / span 3;
        &:hover::after {
          @include button-info-big-screen();
        }
      }
    }
  }
}