@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;700&family=Quicksand:wght@300;400&display=swap");
/* $dark-background: #333;

$dark-shadow: #000000;
$light-shadow: #5a5a5a;

$red: #FF4136;
$blue: #0074D9;
$green: #2ECC40;

$gray-text: #ccc;
$white-text: #fff;

$dark-gray: #2020 */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #bbb;
  box-sizing: border-box;
  font-family: "Palanquin Dark", sans-serif; }

.flex-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  width: 100%; }

.note {
  column-gap: 10px;
  display: grid;
  flex: 1;
  grid-template-columns: repeat(12, 1fr);
  max-width: 80rem; }
  .note__title {
    font-size: 5rem;
    grid-column: 1 / span 12;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    color: #bbb;
    text-shadow: -2px -2px 8px #fff, 2px 2px 8px #666; }
  .note__area {
    grid-column: 1 / span 12; }
  .note__text {
    background-color: #bbb;
    border-radius: 1rem;
    border-style: none;
    color: #222;
    font-family: "Quicksand", sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 4rem;
    min-height: 16rem;
    padding: 1rem;
    width: 100%;
    background-color: #bbb;
    box-shadow: -1px -1px 5px #666, 1px 1px 5px #fff; }
    .note__text:focus {
      background-color: #e7e7e7;
      color: #000;
      outline: none; }
  .note__button {
    background-color: #bbb;
    border-radius: 2.5rem;
    border-style: none;
    font-size: 3.2rem;
    font-weight: 700;
    grid-column: 1 / span 12;
    height: 4rem;
    margin-bottom: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #bbb;
    box-shadow: -2px -2px 8px #fff, 2px 2px 8px #666; }
    .note__button:hover {
      color: #e7e7e7; }
    .note__button:active {
      box-shadow: -1px -1px 5px #fff, 1px 1px 5px #666; }
    .note__button--clear {
      color: #222; }
      .note__button--clear:hover {
        background-color: #222; }
    .note__button--save {
      color: #129b22; }
      .note__button--save:hover {
        background-color: #129b22; }
    .note__button--load {
      color: #0057a3; }
      .note__button--load:hover {
        background-color: #0057a3; }
    .note__button--delete {
      color: #c72118; }
      .note__button--delete:hover {
        background-color: #c72118; }

@media (min-width: 600px) {
  .note {
    column-gap: 30px; }
    .note__title {
      font-size: 6.4rem; }
    .note__text {
      min-height: 50vh; }
    .note__button--clear {
      grid-column: 1 / span 3; }
    .note__button--delete {
      grid-column: 4 / span 3; }
    .note__button--load {
      grid-column: 7 / span 3; }
    .note__button--save {
      grid-column: 10 / span 3; } }
